<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Chat</display-name>
  <servlet>
    <display-name>ChatFrontController</display-name>
    <servlet-name>ChatFrontController</servlet-name>
    <servlet-class>com.epam.andrey_nikolaev.servlets_11.controller.ChatFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatFrontController</servlet-name>
    <url-pattern>/chat_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/WEB-INF/jsp/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chat</servlet-name>
    <jsp-file>/WEB-INF/jsp/chat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chat</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.epam.andrey_nikolaev.servlets_11.controller.listener.SessionTimeoutListener</listener-class>
  </listener>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.epam.andrey_nikolaev.servlets_11.controller.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/chat</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>chatFilter</filter-name>
    <filter-class>com.epam.andrey_nikolaev.servlets_11.controller.filter.ChatFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>chatFilter</filter-name>
    <url-pattern>/chat</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>activeUserFilter</filter-name>
    <filter-class>com.epam.andrey_nikolaev.servlets_11.controller.filter.ActiveUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>activeUserFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/WEB-INF/jsp/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>